<!DOCTYPE html>
<html lang="en">
<!-- HEAD -->
<%- include('./partials/head')%>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class= 'about content'>
        <h2>About Us</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores exercitationem officia iure eaque ex illo molestias eligendi magnam ab alias sunt quaerat, aliquam assumenda. Necessitatibus voluptate beatae eaque illo esse!</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus iste nobis, ipsum, numquam labore consequatur delectus eaque alias sit repellat ea? Nobis reprehenderit error maxime ullam suscipit laborum, ea consequatur.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil repellat natus aliquid reiciendis itaque doloremque expedita deleniti veniam nobis dolore dolorem possimus dolor eos saepe sapiente distinctio perferendis, perspiciatis exercitationem.</p>
    </div>
</body>
<!-- FOOTER -->
<%- include('./partials/footer.ejs')%>
</html>